server:
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    # password: ""  # No password required
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
  plugins:
    - dependency: "com.github.topisenpai:lavasrc-plugin:4.1.1"
      repository: "https://maven.topi.wtf/releases"
      snapshot: false